nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* This makes the <li> items a flex container */
  justify-content: center; /* This centers the items along the main axis */
}

nav li {
  margin: 0 10px; /* Provides equal spacing on both sides of each item */
}

nav a {
  text-decoration: none;
  color: #f8f5f5;
  font-weight: bold;
}